In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('state_cpi.csv')
df.head()

,Sector,Year,Name,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chattisgarh,Delhi,Goa,...,Uttar Pradesh,Uttarakhand,West Bengal,Andaman and Nicobar,Chandigarh,Dadra and Nagar Haveli,Daman and Diu,Jammu and Kashmir,Lakshadweep,Puducherry
0,Rural,2011,January,104.0,NaN,104.0,NaN,105.0,NaN,103.0,...,103.0,NaN,104.0,105.0,104.0,104.0,103.0,104.0,103.0,106.0
1,Urban,2011,January,103.0,NaN,103.0,NaN,104.0,NaN,103.0,...,103.0,NaN,104.0,105.0,103.0,104.0,103.0,104.0,102.0,105.0
2,Rural+Urban,2011,January,103.0,NaN,104.0,NaN,104.0,NaN,103.0,...,103.0,NaN,104.0,106.0,103.0,104.0,104.0,104.0,104.0,104.0
3,Rural,2011,February,107.0,NaN,105.0,NaN,107.0,NaN,105.0,...,104.0,NaN,107.0,105.0,104.0,107.0,104.0,105.0,104.0,107.0
4,Urban,2011,February,106.0,NaN,106.0,NaN,106.0,NaN,105.0,...,105.0,NaN,108.0,104.0,103.0,106.0,104.0,105.0,105.0,108.0

In [7]:
df[['Sector','Year','Name','Andhra Pradesh']]

          Sector  Year      Name  Andhra Pradesh
0          Rural  2011   January          104.00
1          Urban  2011   January          103.00
2    Rural+Urban  2011   January          103.00
3          Rural  2011  February          107.00
4          Urban  2011  February          106.00
..           ...   ...       ...             ...
385        Urban  2021   October          169.40
386  Rural+Urban  2021   October          167.80
387        Rural  2021  November          168.90
388        Urban  2021  November            3.64
389  Rural+Urban  2021  November          169.60

[390 rows x 4 columns]